<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>
    <div><a href="/">Home</a></div>
    <div>
        <p>Account Name: {{ account_name }}</p>
    </div>
    <div>
        <p>Balance: {{ '{0:.2f}'.format(balance) }}</p>
    </div>
    <form id="withdrawDepositForm" method="POST">
        <label for="change">Balance: </label>
        <input type="number" name="change" step="0.01" min="0" placeholder="0.00" oninput="validateDecimal(this)">
        <button type="submit" onclick="deposit()">deposit</button>
        <button type="submit" onclick="withdraw()">withdraw</button>
    </form>
    {% with err = error %}
        {% if err %}
            <div style="color: red; font-weight: bold;">
                {{ err }}
            </div>
        {% endif %}
    {% endwith %}
    <script>
        function withdraw() {
            var form = document.getElementById("withdrawDepositForm");
            form.method="POST";
            form.action = (window.location.href).split("?error")[0] + "/withdraw";
            form.submit();
        }

        function deposit() {
            var form = document.getElementById("withdrawDepositForm");
            form.method="POST";
            form.action = (window.location.href).split("?error")[0] + "/deposit";
            form.submit();
        }

        function validateDecimal(input) {
            const value = input.value;
            const regex = /^\d*(\.\d{0,2})?$/;
            if (!regex.test(value)) {
                input.value = value.slice(0, -1);
            }
        }
    </script>
</body>

</html>